*~
build/*
dist/
wheelhouse/
xbooz_xform
unitTests
__pycache__
*.so
*.a
*.egg-info
venv/
requirements.txt
.ctags*
.ycm_extra_conf.py
examples/data/
tags

.DS_Store
.vscode
.pymon
jxbout_*
mercier.*
threed1.*
timings.txt
#*
