name: Docs
 
# execute this workflow automatically when a we push to main
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
 
jobs:
 
  Docs:
    runs-on: ubuntu-latest
 
    steps:
 
    - name: apt-get any needed packages
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential openmpi-bin libopenmpi-dev git cmake libnetcdf-dev

    - name: Print versions
      run: |
        which mpicc
        which mpiexec
        mpicc --version
        cmake --version

    - name: Prereqs for changing git 
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        #sudo apt-get update
        #sudo apt-get install -y git openmpi-bin libopenmpi-dev rsync
        git clone --depth 1 "https://token:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git" .
      shell: bash
 
    - name: ls
      run: ls -l

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Get python and pip information
      run: |
        python --version
        pip --version

    - name: Update pip
      run: |
        python -m pip install --upgrade pip
        pip --version
    
    # We must install the booz_xform package so sphinx autodoc can get the docstrings.
    - name: Install booz_xform
      run: pip install -v .

    - name: Try import of booz_xform
      run: python -c "import booz_xform as bx; b = bx.Booz_xform()"

    - name: Install python dependencies for sphinx
      run: |
        pip install sphinx-autodoc-typehints sphinx-rtd-theme breathe

    - name: apt-get doxygen
      run: |
        sudo apt-get update
        sudo apt-get install -y doxygen

    - name: Check Doxygen version
      run: doxygen --version

    - name: Run Doxygen
      working-directory: ./docs
      run: doxygen

    - name: ls
      run: ls -l docs

    - name: Execute script to build our documentation and update pages
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        ls "$PWD"
        cd docs
        ls "$PWD"
        chmod +x ./build_docs.sh
        ./build_docs.sh 
      shell: bash
